 <app-appbar (sidebarToggled)="onSidebarToggle($event)"></app-appbar>

  <!-- Main Container -->
  <div class="container-fluid main-container">
      <div class="row">
          <!-- Sidebar -->
          <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
          <!-- Main Content -->
          <div class="main-content" id="main-content" [class.expanded]="isCollapsed">
              <!-- Statistics Cards -->
              <div class="row g-3 mb-2">
                <!-- Déclarations publiées -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card stat-card published-declarations bg-success bg-opacity-75 text-white h-75 d-flex flex-column">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="card-title mb-0">0</h3>
                                    <p class="card-text">Déclarations publiées</p>
                                </div>
                                <i class="bi bi-megaphone-fill fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Demandes en attente -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card stat-card pending bg-warning bg-opacity-75 text-white h-75 d-flex flex-column">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="card-title mb-0">1</h3>
                                    <p class="card-text">Demandes en attente</p>
                                </div>
                                <i class="bi bi-droplet-fill fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Interventions d'urgence -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card stat-card emergency bg-danger bg-opacity-75 text-white h-75 d-flex flex-column">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="card-title mb-0">308</h3>
                                    <p class="card-text">Interventions d'urgence</p>
                                </div>
                                <i class="bi bi-heart-pulse-fill fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Assistance financière -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card stat-card assistance bg-info bg-opacity-75 text-white h-75 d-flex flex-column">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="card-title mb-0">96 654 517</h3>
                                    <p class="card-text">Assistance</p>
                                    <span class="currency pb-4">XOF</span>
                                </div>
                                <i class="bi bi-people-fill fs-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
              <!--graphique -->
              <div class="row mb-4">
                  <div class="col-12 col-lg-4">
                      <div class="card">
                          <div class="card-body">
                              <canvas id="declarationTypeChart"></canvas>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-4" >
                      <div class="card">
                          <div class="card-body">
                              <canvas id="interventionTrendChart" height="220"></canvas>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-4">
                      <div class="card">
                          <div class="card-body">
                              <canvas id="validationStatusChart"></canvas>
                          </div>
                      </div>
                  </div>
              </div>
              
              <!-- Transactions Table -->
             
          </div>
      </div>
  </div>
