.navbar {
  background-color: #212529;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1030;
  height: 60px;
}

.user-profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}