<!-- Main Container -->
<div class="container-fluid main-container">
  <div class="row">
    <!-- Main Content -->
    <div class="main-content expanded" id="main-content">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Declarations d'événement</h5>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Demandeur</th>
                  <th>Titre</th>
                  <th>Lieu</th>
                  <th>Type</th>
                  <th>Debut</th>
                  <th>Fin</th>
                  <th>Validation</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (evenement of listEvenements(); track evenement.id) {
                  <tr>
                    <td>{{evenement.demandeur.email}}</td>
                    <td>{{evenement.titre}}</td>
                    <td class="location-cell">
                      <i class="bi bi-geo-alt-fill location-icon"></i>
                      {{evenement.lieu}}
                    </td>
                    <td>{{evenement.type}}</td>
                    <td>
                      <span class="date-cell date-start">
                        {{evenement.dateDebut | date:'dd/MM/yy HH:mm'}}
                      </span>
                    </td>
                    <td>
                      <span class="date-cell date-end">
                        {{evenement.dateFin | date:'dd/MM/yy HH:mm'}}
                      </span>
                    </td>
                    <td>
                      <button
                        class="btn btn-action btn-validate"
                        [class.validated]="evenement.status === 'VALIDATED'"
                        (click)="validerEvenement(evenement)">
                        <i class="bi"
                           [class.bi-check-lg]="evenement.status === 'VALIDATED'"
                           [class.bi-x-lg]="evenement.status !== 'VALIDATED'">
                        </i>
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-action btn-details"
                              (click)="navigateEvent(evenement)">
                        <i class="bi bi-arrow-right"></i>
                      </button>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
