<aside class="left-sidebar">
  <div class="scroll-sidebar" data-simplebar>
      <div class="d-flex mb-4 align-items-center justify-content-between">
          <a href="index.html" class="text-nowrap logo-img ms-0 ms-md-1">
              <h5 class="text text-white shadow-none">Teranga connect admin</h5>
          </a>
          <!-- Bouton d'ouverture/fermeture du sidebar -->
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
              <i class="ti ti-menu-2 fs-8 bg"></i>
          </div>
      </div>
      <nav class="sidebar-nav">
          <ul id="sidebarnav" class="mb-4 pb-2">
              <li class="nav-small-cap">
                  <i class="ti ti-dots nav-small-cap-icon fs-5"></i>
                  <span class="hide-menu text-white">Home</span>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link sidebar-link primary-hover-bg" href="./index.html" aria-expanded="false">
                      <span class="aside-icon p-2 bg-light-primary rounded-3">
                          <i class="ti ti-layout-dashboard fs-7 text-primary"></i>
                      </span>
                      <span class="hide-menu ms-2 ps-1 text-white ">Dashboard</span>
                  </a>
              </li>
              
              <!-- Nouveaux items ajoutés -->
              <li class="sidebar-item">
                  <a class="sidebar-link sidebar-link" (click)="navigateUrgences()">
                      <span class="aside-icon p-2 bg-light-danger rounded-3">
                          <i class="ti ti-alert-circle fs-7 text-danger"></i>
                      </span>
                      <span class="hide-menu ms-2 ps-1 text-white ">Urgences</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link sidebar-link" href="javascript:void(0)">
                      <span class="aside-icon p-2 bg-light-success rounded-3">
                          <i class="ti ti-heart fs-7 text-success"></i>
                      </span>
                      <span class="hide-menu ms-2 ps-1 text-white">Don de sang</span>
                  </a>
              </li>
              <li class="sidebar-item">
                  <a class="sidebar-link sidebar-link" href="javascript:void(0)">
                      <span class="aside-icon p-2 bg-light-info rounded-3">
                          <i class="ti ti-calendar fs-7 text-info"></i>
                      </span>
                      <span class="hide-menu ms-2 ps-1 text-white ">Événements</span>
                  </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="javascript:void(0)">
                    <span class="aside-icon p-2 bg-light-warning rounded-3">
                        <i class="ti ti-settings fs-7 text-warning"></i>
                    </span>
                    <span class="hide-menu ms-2 ps-1 text-white ">Settings</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="javascript:void(0)">
                    <span class="aside-icon p-2 bg-light-info rounded-3">
                        <i class="ti ti-help fs-7 text-info"></i>
                    </span>
                    <span class="hide-menu ms-2 ps-1 text-white ">Help</span>
                </a>
            </li>
          </ul>
      </nav>
  </div>
</aside>
