/* main-layout.component.css */
.navbar {
    background-color: #212529;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
    height: 60px;
}
.main-container {
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 1020;
    background-color: #212529;
}
.sidebar.collapsed {
    transform: translateX(-250px);
}
.main-content {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    padding: 20px;
    width: calc(100% - 250px);
}
.main-content.expanded {
    margin-left: 0;
    width: 100%;
}
.user-profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
@media (max-width: 768px) {
.sidebar {
    transform: translateX(-250px);
}
.main-content {
    margin-left: 0;
    width: 100%;
}

.sidebar.show {
    transform: translateX(0);
}
}
.nav-link, .dropdown-item {
    color: white !important;
    background-color: transparent !important;
}
.nav-link:hover, .dropdown-item:hover {
    background-color: #343a40 !important; /* Couleur sombre lors du survol /
    cursor: pointer; / Ajoute l'effet de la main au survol */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}